<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-color: black; color: darkcyan">
<div class="container" style="text-align: center; margin-top: 40px; ">
    <div th:if="${message}">
        <h2 th:text="${message}" />
    </div>
    <div>
        <form method="POST" enctype="multipart/form-data" action="/upload">
            <table class="table">
                <tr>
                    <th>
                        File to upload:
                    </th>
                </tr>
                <tr>
                    <td>
                        <input style="cursor:pointer" type="file" name="file" />
                    </td>
                    <td>
                        <input class="btn btn-success" type="submit" value="Upload" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <ul class="list-group">
            <li th:each="file : ${files}">
                <a th:href="${file}" th:text="${file}" />
            </li>
        </ul>
    </div>
</div>
</body>
</html>